/* Box Model Hack */
* {
  box-sizing: border-box;
}
/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}
.clear {
	clear: both;
}

/******************************************
/* ^ "HACKS"
/* v BASE STYLES
/*******************************************/

body {
  padding: 2rem;
}
.group {
  display: flex;
  border: 2px solid black;
  padding: 0.5rem;
  justify-content: space-around;
  margin: 0.5rem 0;
  background-color: rgba(211, 211, 211, 0.75);
}
input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

/******************************************
/* ^ BASE STYLES
/* v HEADER
/*******************************************/

header {
  padding-bottom: 0.5rem;
  margin-bottom: 0.5rem;
  border-bottom: 5px solid black;
}
h1 {
  display: flex;
  justify-content: center;
  font-size: 3rem;
}
header .group {
  justify-content: space-between;
}

/******************************************
/* ^ HEADER
/* v BASIC CHAR INFO
/*******************************************/

.basicInfo {
  margin-bottom: 0.5rem;
}
.nameClasses {
  width: 40%;
  display: flex;
  flex-wrap: wrap;
  padding-right: 1rem;
  border-right: 1px solid black;
}
.nameClasses > div:first-child {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.nameClasses > div:last-child {
  width: 100%;
  padding-top: 1rem;
}
.nameClasses > div:last-child input[type='text'] {
  width: 45%;
}
.nameClasses > div:last-child input[type='number'] {
  width: 15%;
}
.identifyingInfo {
  width: 60%;
  display: grid;
  grid-template-columns: repeat(3, 1fr 2fr);
  gap: 0.25rem 1rem;
  padding: 1rem;
}
.identifyingInfo input {
  height: 1.4rem;
  width: 100%;
}

/******************************************
/* ^ BASIC CHAR INFO
/* v MAIN STATS
/*******************************************/

.mainStats {
  flex-wrap: wrap;
}
.mainStats fieldset {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  border-radius: 1rem;
  border: 1px solid black;
  background-color: white;
}
.mainStats legend {
  text-align: center;
  background-color: black;
  color: white;
  padding: 0.2rem;
  border-radius: 0.5rem;
}
.mainStats input {
  width: 4rem;
  height: 4rem;
  font-size: 2.5rem;
  text-align: center;
  margin: 0 auto;
}
.mainStats span {
  align-self: center;
  font-size: 1.5rem;
}

/******************************************
/* ^ MAIN STATS
/* v SKILLS + PROFS
/*******************************************/

#columns {
  display: flex;
  justify-content: space-between;
}

.skillsProficiencies,
.combatEquip,
.trackfeatures {
  width: 33%;
  flex-wrap: wrap;
}
.skillsProficiencies fieldset {
  border: 1px solid black;
  margin: 0.5rem 0;
  font-size: 0.8rem;
}
.skillsProficiencies legend {
  font-size: 1rem;
}

#topleft {
  width: 100%;
  display: grid;
  grid-template-columns: auto auto;
  line-height: 1.5rem;
  font-size: 1rem;
  justify-content: space-between;
  align-content: space-between;
  height: 5rem;
}
#topleft input[type="number"] {
  width: 4rem;
  line-height: 1.25rem;
}

#saves, #skills {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 2fr 1fr;
  text-align: left;
}
#saves input[type=checkbox],
#skills input[type=checkbox] {
  height: 1rem;
}
#saves input[type=number],
#skills input[type=number] {
  width: 4rem;
  text-align: center;
}

#other {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr auto;
}

/******************************************
/* ^ SKILLS + PROFS
/* v LIFE
/*******************************************/

.combatEquip {
  align-items: flex-start;
}
#life {
  border-bottom: 3px solid black;
  padding-bottom: 1rem;
  width: 100%;
  height: fit-content;
}
#topMiddle {
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding-bottom: 0.5rem;
}
#topMiddle fieldset {
  display: flex;
  justify-content: center;
  border: 1px solid black;
}
#topMiddle legend {
  text-align: center;
}
#topMiddle input {
  width: 3rem;
  height: 3rem;
  font-size: 2rem;
  text-align: center;
}

#health {
  width: 100%;
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
  column-gap: 0.5rem;
  margin-bottom: 0.5rem;
  border: 1px solid black;
}
#health input {
  width: 100%;
  text-align: center;
}
#health label[for="hpCurrent"],
#health input[name="hpCurrent"] {
  font-size: 1.5rem;
  font-weight: bold;
}

#hitDice {
  margin-bottom: 0.5rem;
  border: 1px solid black;
}
#hdHeader {
  display: grid;
  justify-content: space-between;
  grid-template-columns: auto auto;
  width: 100%;
}
#hitDiceWrapper {
  width: 100%;
}
#hitDiceWrapper > div {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
#hitDiceWrapper input {
  width: 40%;
  text-align: center;
}
.addOption {
  width: 100%;
  margin: 0.5rem 0;
  height: 1rem;
  font-size: 0.75rem;
  font-weight: bold;
  text-align: center;
  align-content: center;
}

#deathSaves {
  margin-bottom: 0.5rem;
  border: 1px solid black;
}
#deathSaves > div {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
}

/******************************************
/* ^ LIFE
/* v ATTACKS
/*******************************************/

#attacks {
  width: 100%;
  padding: 1rem 0;
  border-bottom: 3px solid black;
}
#attacks fieldset,
#equipment fieldset {
  border: 1px solid black;
  width: 100%;
}
#attacks input {
  width: 100%;
  text-align: center;
}
#attacks table,
#money table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
}
#attacks thead,
#money thead {
  font-size: 0.8rem;
  font-weight: normal;
}
#attacks thead th:nth-child(1),
#attacks thead th:nth-child(3) {
  width: 35%;
}
#attacks thead th:nth-child(2) {
  width: 20%;
}

/******************************************
/* ^ ATTACKS
/* v EQUIPMENT
/*******************************************/

#equipment {
  width: 100%;
}
#money {
  padding-bottom: 0.75rem;
  border-bottom: 1px solid black;
  margin-bottom: 0.75rem;
}
#money input{
  width: 100%;
}
#itemsHeader {
  padding: 0 1rem;
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
}
#itemsWrapper div {
  display: grid;
  grid-template-columns: 20% 80%;
  justify-content: space-between;
}
#itemsWrapper input[type="number"],
#itemsWrapper input[type="text"] {
  width: 100%;
}

/******************************************
/* ^ EQUIPMENT
/* v TRACKERS
/*******************************************/

.trackfeatures {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.trackfeatures > div:first-child {
  padding-bottom: 0.75rem;
  border-bottom: 3px solid black;
  margin-bottom: 0.75rem;
}