/* Box Model Hack */
* {
  box-sizing: border-box;
}
/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}
.clear {
	clear: both;
}

/******************************************
/* ^ "HACKS"
/* v BASE STYLES
/*******************************************/

body {
  padding: 2rem;
  background: #f5e1a4; /* A light yellow-beige color */
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.3) 25%, transparent 25%, transparent 75%, rgba(255, 255, 255, 0.3) 75%, rgba(255, 255, 255, 0.3)),
                    linear-gradient(45deg, rgba(255, 255, 255, 0.3) 25%, transparent 25%, transparent 75%, rgba(255, 255, 255, 0.3));
}
.group {
  display: flex;
  border: 2px solid black;
  padding: 0.5rem;
  justify-content: space-around;
  margin: 0.5rem 0;
  background-color: rgba(211, 211, 211, 0.75);
}
input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
  -webkit-appearance: none;
}
.addOption {
  width: 100%;
  margin: 0.5rem 0;
  height: 1rem;
  font-size: 0.75rem;
  font-weight: bold;
  text-align: center;
  align-content: center;
  align-items: center;
  box-shadow: 0 0 2px black;
}
fieldset legend {
  text-shadow: 1px 1px 2px pink;
}

/******************************************
/* ^ BASE STYLES
/* v HEADER
/*******************************************/

header {
  padding-bottom: 0.5rem;
  margin-bottom: 0.5rem;
  border-bottom: 5px solid black;
}
h1 {
  display: flex;
  justify-content: center;
  font-size: 3rem;
  text-shadow: #FC0 1px 0 10px;
}
header .group {
  justify-content: space-between;
}

/******************************************
/* ^ HEADER
/* v BASIC CHAR INFO
/*******************************************/

.basicInfo {
  margin-bottom: 0.5rem;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
}
.nameClasses {
  width: 40%;
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;
  border-right: 1px solid black;
}
.nameClasses > div {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.nameClasses > div div {
  font-size: 1.25rem;
}
.nameClasses > div input {
  text-align: center;
}
#classes {
  width: 100%;
  padding: 1rem;
  margin-top: 1rem;
  border: 1px solid black;
  box-shadow: 0 0 5px black;
}
#classes div {
  display: flex;
  /* grid-template-columns: 15% 45% 15% 15%; */
  column-gap: 0.5rem;
  justify-content: space-between;
  align-items: center;
  margin: 0.25rem 0;
}
#classes input[type='text'] {
  width: 100%;
}
#classes input[type='number'] {
  width: 100%;
  text-align: center;
}
.identifyingInfo {
  width: 60%;
  display: grid;
  grid-template-columns: repeat(3, 1fr 2fr);
  gap: 0.25rem 1rem;
  padding: 1rem;
}
.identifyingInfo input {
  height: 1.4rem;
  width: 100%;
}

/******************************************
/* ^ BASIC CHAR INFO
/* v MAIN STATS
/*******************************************/

.mainStats {
  flex-wrap: wrap;
}
.mainStats fieldset {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  border-radius: 1rem;
  border: 1px solid black;
  background-color: white;
}
.mainStats legend {
  text-align: center;
  background-color: black;
  color: white;
  padding: 0.2rem;
  border-radius: 0.5rem;
}
.mainStats input {
  width: 4rem;
  height: 4rem;
  font-size: 2.5rem;
  text-align: center;
  margin: 0 auto;
}
.mainStats span {
  align-self: center;
  font-size: 1.5rem;
}

/******************************************
/* ^ MAIN STATS
/* v SKILLS + PROFS
/*******************************************/

#columns {
  display: flex;
  justify-content: space-between;
}

.skillsProficiencies,
.combatEquip,
.trackfeatures {
  width: 33%;
  flex-wrap: wrap;
}
.skillsProficiencies fieldset {
  border: 1px solid black;
  margin: 0.5rem 0;
  font-size: 0.8rem;
  /* box-shadow: 2px 2px 2px black; */
}
.skillsProficiencies legend {
  font-size: 1rem;
}

#topleft {
  width: 100%;
  display: grid;
  grid-template-columns: auto auto;
  line-height: 1.5rem;
  font-size: 1rem;
  justify-content: space-between;
  align-content: space-between;
  height: 5rem;
}
#topleft input[type="number"] {
  width: 4rem;
  line-height: 1.25rem;
  text-align: center;
}

#saves, #skills {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 2fr 1fr;
  text-align: left;
}
#saves input[type=checkbox] {
  height: 1rem;
}
#skills div {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  padding-right: 0.5rem;
}
#skills input[type=radio] {
  height: 0.8rem;
}
#skills input:checked {
  border: 2px solid red;
}
#saves input[type=number],
#skills input[type=number] {
  width: 4rem;
  text-align: center;
}
#skills span {
  padding-left: 0.5rem;
  color: gray;
  font-size: 0.8rem;
  align-items: center;
}

#other {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr auto;
}

/******************************************
/* ^ SKILLS + PROFS
/* v LIFE
/*******************************************/

.combatEquip {
  align-items: flex-start;
}
#life {
  border-bottom: 3px solid black;
  padding-bottom: 1rem;
  width: 100%;
  height: fit-content;
}
#topMiddle {
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding-bottom: 0.5rem;
}
#topMiddle fieldset {
  display: flex;
  justify-content: center;
  border: 1px solid black;
  border-radius: 20%;
}
#topMiddle legend {
  text-align: center;
}
#topMiddle input {
  width: 3rem;
  height: 3rem;
  font-size: 2rem;
  text-align: center;
}

#health {
  width: 100%;
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
  column-gap: 0.5rem;
  margin-bottom: 0.5rem;
  border: 1px solid black;
  box-shadow: 0 3px 3px black;
}
#health input {
  width: 100%;
  text-align: center;
}
#health label[for="hpCurrent"],
#health input[name="hpCurrent"] {
  font-size: 1.5rem;
  font-weight: bold;
}

#hitDice {
  margin-bottom: 0.5rem;
  border: 1px solid black;
}
#hdHeader {
  display: grid;
  justify-content: space-between;
  grid-template-columns: auto auto;
  width: 100%;
}
#hitDiceWrapper {
  width: 100%;
}
#hitDiceWrapper > div {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
#hitDiceWrapper input {
  width: 40%;
  text-align: center;
}


#deathSaves {
  margin-bottom: 0.5rem;
  border: 1px solid black;
}
#deathSaves > div {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
}

/******************************************
/* ^ LIFE
/* v ATTACKS
/*******************************************/

#attacks {
  width: 100%;
  padding: 1rem 0;
  border-bottom: 3px solid black;
}
#attacks fieldset,
#equipment fieldset {
  border: 1px solid black;
  width: 100%;
}
#attacks input {
  width: 100%;
  text-align: center;
}
#attacks table,
#money table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
}
#attacks thead,
#money thead {
  font-size: 0.8rem;
  font-weight: normal;
}
#attacks thead th:nth-child(1),
#attacks thead th:nth-child(3) {
  width: 35%;
}
#attacks thead th:nth-child(2) {
  width: 20%;
}

/******************************************
/* ^ ATTACKS
/* v EQUIPMENT
/*******************************************/

#equipment {
  width: 100%;
}
#money {
  padding-bottom: 0.75rem;
  border-bottom: 1px solid black;
  margin-bottom: 0.75rem;
}
#money input{
  width: 100%;
  text-align: center;
}
#itemsHeader {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
}
#itemsWrapper div {
  display: grid;
  grid-template-columns: 20% 80%;
  justify-content: space-between;
}
#itemsWrapper input[type="number"],
#itemsWrapper input[type="text"] {
  width: 100%;
}
#itemsWrapper input[type="text"] {
  text-align: end;
}

/******************************************
/* ^ EQUIPMENT
/* v TRACKERS + FEATURES
/*******************************************/

.trackfeatures {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.trackfeatures > div:first-child {
  padding-bottom: 0.75rem;
  border-bottom: 3px solid black;
  margin-bottom: 0.75rem;
}
.trackfeatures fieldset {
  border: 1px solid black;
}

#trackers {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  row-gap: 0.5rem;
}
#trackers div {
  padding: 0.5rem;
  width: 45%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  border: 1px solid gray;
}
#trackers input[type="text"] {
  width: 100%;
  margin-bottom: 0.5rem;
  text-align: center;
}
#trackers input[type="number"] {
  width: 40%;
  font-size: 2rem;
  text-align: center;
}

#features {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 0.5rem;
}
#features div {
  padding: 0.5rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  border: 1px solid gray;
}
#features div input:first-child {
  font-weight: bold;
}
#features textarea {
  margin-top: 0.5rem;
  min-width: 100%;
  resize: none;
  height: fit-content;
  font-size: 0.8rem;
}
.featSource {
  text-align: end;
  font-size: 0.8rem;
}

/******************************************
/* ^ TRACKERS + FEATURES
/* v SPELLCASTING
/*******************************************/

.spellcasting {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 0 2rem 2rem 2rem;
}
#spellMeta {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  justify-content: space-between;
  width: 100%;
  column-gap: 2rem;
  text-align: center;
  padding-bottom: 1rem;
  border-bottom: 3px solid black;
  margin-bottom: 1rem;
}
#spellMeta input {
  font-size: 1.25rem;
  border-radius: 1rem;
  text-align: center;
  width: 100%;
}
#spellMeta label {
  font-size: 0.8rem;
}
.spellcasting fieldset {
  width: 100%;
  margin-bottom: 0.5rem;
  border: 1px solid black;
  box-shadow: 5px 5px 5px black;
}
.spells legend {
  font-weight: bold;
}
.spells legend input {
  width: 2rem;
  text-align: center;
}
.spells div {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  row-gap: 0.25rem;
  padding-bottom: 0.5rem;
  margin-bottom: 0.25rem;
  border-bottom: 1px solid gray;
}
.spells div:last-child {
  border-bottom: none;
}
.spells textarea {
  width: 100%;
  resize: none;
  height: fit-content;
  font-size: 0.8rem;
}
.spells .addOption,
.notes .addOption {
  width: 50%;
  margin: 0 25%;
}

/******************************************
/* ^ SPELLCASTING
/* v BACKSTORY
/*******************************************/

.backstory {
  display: flex;
  flex-wrap: wrap;
}
.backstory textarea {
  width: 100%;
  margin: 0 2rem 2rem 2rem;
  padding: 1rem;
  resize: none;
  border: 1px solid black;
  box-shadow: 2px 2px 5px black;
}

/******************************************
/* ^ BACKSTORY
/* v CAMPAIGN NOTES
/*******************************************/

.notes {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 2rem;
  border-bottom-right-radius: 2rem;
  border-bottom-left-radius: 2rem;
}
#campaignNotes {
  width: 100%;
  padding: 0 2rem 2rem 2rem;
}
#campaignNotes textarea {
  width: 100%;
  padding: 1rem;
  resize: none;
  border: 1px solid black;
  box-shadow: 2px 2px 5px black;
}